<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="CI" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" appendQueryString="true" />
				</rule>
				<rule name="rewrite php">
				  <!--Removes the .php extension for all pages.-->
				  <match url="(.*)" />
				  <conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					<add input="{REQUEST_FILENAME}" negate="true" pattern="(.*).php" />
				  </conditions>
				  <action type="Rewrite" url="{R:1}.php" />
				</rule> 
			</rules>
		</rewrite>
		<caching enabled="true" enableKernelCache="true">
	
            <profiles>
                <add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
			</profiles>
			
    </caching>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
        </staticContent>
	</system.webServer>
</configuration>
